# main dependencies
jax
jax-smi
einops
flax
optax

# utilities
fire
mypy
fabric
wandb
matplotlib
tqdm
types-tqdm
pdoc3

# testing
torch
tf-nightly
transformers

# param conversion
accelerate
sentencepiece
protobuf~=3.20.0
